<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"> 
        <title>personal knowledge management</title>
        <style>
            div {
                background : #888888;
                border : 1px solid red;
                width : 500px;
                height : 200px ; 
            }
        </style>
            <script type="text/javascript">
                alert(11);

            </script>
        </head>
        <body>
            <div>
                <div>fdasfdsa</div>
                <div></div>
            </div>  
            <input type="button" id="btn" value="test" />
        </body>
    </html>
