<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"> 
        <title>personal knowledge management</title>
        <link rel="stylesheet" type="text/css" href="public/css/km.css">
        <script src="http://localhost:3000/public/js/jquery-2.1.4.js" type="text/javascript"></script>
        <script src="http://localhost:3000/public/js/km.js" type="text/javascript"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div class="container">
            <!-- //This is Header banner part  -->
            <div id="topBanner">
            </div>

            <!--//This is side toolbar part -->
            <div id="sideBar">
            </div>

            <!-- //This is knowledge recording popup dialog  -->
            <div id="knowledgeRecordingPop">
            </div>

            <!-- //this is bottom status line  -->
            <div id="status_line">
            </div>
            <!-- //this is command input -->
            <div id="command_input">
                <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="80em" height="41em"> -->
                <textarea cols="30" rows="5"></textarea>
            </div>
            <hr style="{margin:0px}">
            <!-- this is knowledge display part -->
            <div id="knowledge_display">
            </div>

        </div>
    </body>
</html>
