<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"> 
        <title>personal knowledge management</title>
        <script src="http://localhost:3000/public/js/jquery-2.1.4.js" type="text/javascript"></script>
        <style>
            div {
                background : #988888;
                border : 1px solid red;
                width : 500px;
                height : 200px ; 
            }
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <div>fdasfdas
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="80em" height="41em">
            中文</div>
        <div>div2</div>
        <input type="button" id="btn" value="test" />
    </body>
</html>
