body {
    //background : url('../img/pic1.jpg') #ffffff  center;
}

div {
    border : 1px solid #111111;
    margin : 2px 0 2px;
}

.container {
    width:60%;
    margin : auto ;
    //background:url('../img/pc1.jpg') #ffffff no-repeat center;
}

#topBanner {
    /* background-color:blue; */
    border : 1px solid #111111;
    height:50px;
}

#sideBar {
    border : 1px solid #111111;
    height: 200px;
    width : 80px;
    position : fixed ;
    top : 25%;
    left : 10%;
}


#status_line {
    border : 1px solid #111111;
}

#commandInput {
    border : 1px solid #111111;
    height:30px;
}

#knowledge_display {
    border : 1px solid #111111;
    min-height:300px;
}

#command_input textarea {
    width:99.5%;
    //text-align:center;
    padding-top:2px;
    font-size : 2em ; 
    /* line-height : 1.8; */
}

#knowledgeRecordingPop {
    border : 1px solid #111111;
    height:300px;
}
#knowledgeRecordingPop .knlg_textarea {
    width : 79%;
    height : 80%;
    float : left;
}
#knowledgeRecordingPop textarea {
    margin-left : 2px;
    padding : 15px 13px 0;
    width  : 96%;
    height : 92%;
}

#knowledgeRecordingPop .knlg_save_panel {
    /* background-color:gray; */
    /* border : 1px solid red; */
    margin-right : 2px;
    margin-bottom : 0;
    width : 20%;
    height: 80%;
    float: right ;
    position:relative;
}
#knowledgeRecordingPop .knlg_save_panel #knlg_save{
    position:absolute;
    border : 0px ;
    /* border-top : 1px solid blue; */
    bottom : 5px;
    right : 2px;
    width:80%;
}


div #commandInput {
    width : 100%;
}









